<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<!--    &lt;!&ndash;给当前Provider自定义个名字&ndash;&gt;-->
<!--    <dubbo:application name="dubbo-service" />-->
<!--    &lt;!&ndash;配置注册中心&ndash;&gt;-->
<!--    <dubbo:registry address="120.55.45.177:2181" protocol="zookeeper"></dubbo:registry>-->
<!--    &lt;!&ndash;配置端口&ndash;&gt;-->
<!--    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>-->
<!--        &lt;!&ndash;-->
<!--        注册功能-->
<!--        timeout：超时时间-->
<!--        stub：是否配置本地存根-->
<!--        &ndash;&gt;-->
<!--        <dubbo:service-->
<!--                interface="com.zh.service.DemoService"-->
<!--                ref="demoServiceImplOld"-->
<!--                timeout="3000"-->
<!--                version="1.0.0"-->
<!--                stub="com.zh.service.impl.DemoServiceImpl"-->
<!--        />-->
<!--        <bean id="demoServiceImplOld" class="com.zh.service.impl.DemoServiceImplOld"></bean>-->

<!--        <dubbo:service-->
<!--                interface="com.zh.service.DemoService"-->
<!--                ref="demoServiceImplNew"-->
<!--                timeout="3000"-->
<!--                version="2.0.0"-->
<!--                weight="5000"-->
<!--        />-->
<!--        <bean id="demoServiceImplNew" class="com.zh.service.impl.DemoServiceImplNew"></bean>-->
<!--    &lt;!&ndash;统一配置&ndash;&gt;-->
<!--    <dubbo:provider timeout="3000" />-->
<!--    &lt;!&ndash;使用注解 配置注解扫描&ndash;&gt;-->
<!--    &lt;!&ndash;<dubbo:annotation package="com.zh.service.impl" />&ndash;&gt;-->
</beans>

